# Mercedes-Benz Greener Manufacturing

## Import the Libraries required

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Read the data sets as pandas data frames

In [7]:
train_data=pd.read_csv('train.csv')
test_data=pd.read_csv('test.csv')

## Shape of data sets

In [8]:
print(train_data.shape) # Find Number of rows and columns
print(train_data.columns)

print(test_data.shape) # Find Number of rows and columns
print(test_data.columns)

train_data.head() # Show first 5 records

(4209, 378)
Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)
(4209, 377)
Index(['ID', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=377)

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [9]:
train_data.describe()

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
count,4209.000000,4209.000000,4209.000000,4209.0,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,...,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000,4209.000000
mean,4205.960798,100.669318,0.013305,0.0,0.075077,0.057971,0.428130,0.000475,0.002613,0.007603,...,0.318841,0.057258,0.314802,0.020670,0.009503,0.008078,0.007603,0.001663,0.000475,0.001426
std,2437.608688,12.679381,0.114590,0.0,0.263547,0.233716,0.494867,0.021796,0.051061,0.086872,...,0.466082,0.232363,0.464492,0.142294,0.097033,0.089524,0.086872,0.040752,0.021796,0.037734
min,0.000000,72.110000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2095.000000,90.820000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4220.000000,99.150000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6314.000000,109.010000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,8417.000000,265.320000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
# variance
train_data.var()

ID      5.941936e+06
y       1.607667e+02
X10     1.313092e-02
X11     0.000000e+00
X12     6.945713e-02
            ...
X380    8.014579e-03
X382    7.546747e-03
X383    1.660732e-03
X384    4.750593e-04
X385    1.423823e-03
Length: 370, dtype: float64

## Removing the featurres with variance 0 from the train data set

In [11]:
variance_with_zero = train_data.var()[train_data.var()==0].index.values
variance_with_zero

array(['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290',
       'X293', 'X297', 'X330', 'X347'], dtype=object)

In [12]:
# Drop zero variance variables

train_data = train_data.drop(variance_with_zero, axis=1)

In [13]:
# As we don't need ID column

train_data = train_data.drop(['ID'], axis=1)

In [14]:
train_data.shape

(4209, 365)

In [15]:
train_data.isnull().sum().values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [16]:
train_data.head()

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,k,v,at,a,d,u,j,o,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,k,t,av,e,d,y,l,o,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,az,w,n,c,d,x,j,x,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,az,t,n,f,d,x,l,e,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,az,v,n,f,d,h,d,n,0,...,0,0,0,0,0,0,0,0,0,0

## Label Encoding

In [18]:

from sklearn.preprocessing import LabelEncoder
for col in train_data.columns:
    # Check if column contains string values
    if train_data[col].dtype == 'object':
        # Create a LabelEncoder instance
        label_encoder = LabelEncoder()
        
        # Fit and transform the column
        train_data[col] = label_encoder.fit_transform(train_data[col].astype(str))

In [19]:
train_data.head()

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,32,23,17,0,3,24,9,14,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,32,21,19,4,3,28,11,14,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,20,24,34,2,3,27,9,23,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,20,21,34,5,3,27,11,4,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,20,23,34,5,3,12,3,13,0,...,0,0,0,0,0,0,0,0,0,0

## Dimensionality Reduction (Train Data Set)

In [20]:
from sklearn.decomposition import PCA

In [21]:
# PCA with 95% 

sklearn_pca = PCA(n_components=0.95)

In [22]:
sklearn_pca.fit(train_data)

PCA(n_components=0.95)

In [23]:
x_train_transformed = sklearn_pca.transform(train_data)

In [24]:
print(x_train_transformed.shape)

(4209, 6)

In [25]:
# PCA with 98% 

sklearn_pca_98 = PCA(n_components=0.98)

In [26]:
sklearn_pca_98.fit(train_data)

PCA(n_components=0.98)

In [27]:
x_train_transformed_98 = sklearn_pca_98.transform(train_data)
print(x_train_transformed_98.shape)

(4209, 12)

In [28]:
from sklearn.model_selection import train_test_split
X = train_data.drop('y', axis=1)
y = train_data.y
xtrain,xtest,ytrain,ytest = train_test_split(X,y,test_size=0.3,random_state=42)

In [29]:
print(xtrain)
print(xtrain.shape)

      X0  X1  X2  X3  X4  X5  X6  X8  X10  X12  ...  X375  X376  X377  X378  \
370   35  13  16   1   3   9   6  19    0    0  ...     0     0     0     0
3392  15  10  16   2   3  23   9  16    0    0  ...     0     0     1     0
2208  31   3  16   2   3  15   2  21    0    0  ...     0     0     1     0
3942  35  20   8   6   3  26   6  14    0    1  ...     1     0     0     0
1105  36  13  16   5   3   1   6   0    0    0  ...     0     0     0     0
...   ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...   ...   ...   ...   ...
3444  31  10  16   2   3  22  11  17    0    0  ...     0     0     1     0
466   20  25  25   2   3   9   9   9    0    0  ...     0     0     0     0
3092  45  24   3   2   3  21   8   2    0    0  ...     1     0     0     0
3772  45  19   8   5   3  25   8   1    0    1  ...     0     0     0     0
860   22   1   7   2   3   5   9  17    0    0  ...     1     0     0     0

      X379  X380  X382  X383  X384  X385
370      0     0     0     0     0     0
3392     0     0     0     0     0     0
2208     0     0     0     0     0     0
3942     0     0     0     0     0     0
1105     0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
3444     0     0     0     0     0     0
466      0     0     1     0     0     0
3092     0     0     0     0     0     0
3772     0     0     0     0     0     0
860      0     0     0     0     0     0

[2946 rows x 364 columns]
(2946, 364)

In [30]:
print(ytrain)
print(ytrain.shape)

370      95.13
3392    117.36
2208    109.01
3942     93.77
1105    103.41
         ...
3444    109.42
466      78.25
3092     92.18
3772     91.92
860      87.71
Name: y, Length: 2946, dtype: float64
(2946,)

In [31]:
print(xtest)
print(xtest.shape)

      X0  X1  X2  X3  X4  X5  X6  X8  X10  X12  ...  X375  X376  X377  X378  \
1073   9  16   7   5   3   6   9  11    0    0  ...     0     0     0     0
144   27  13   3   5   3  13   8  22    0    0  ...     0     0     0     0
2380  31   1  21   2   3  18  11  14    1    0  ...     1     0     0     0
184   20  25  22   2   3  13   9  11    0    0  ...     0     0     0     0
2587   8  23   8   3   3  17   8  17    0    0  ...     0     0     0     0
...   ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...   ...   ...   ...   ...
2493  27  20  16   2   3  18  10   5    0    0  ...     0     0     1     0
3388  40  19  24   5   3  23   3  19    0    0  ...     0     0     0     0
3997  22   3   7   0   3  26   6  18    0    0  ...     0     0     1     0
383   40   1  16   6   3   9   8   0    0    0  ...     1     0     0     0
3364  27   4  33   2   3  23   6  24    0    0  ...     0     0     1     0

      X379  X380  X382  X383  X384  X385
1073     0     0     0     0     0     0
144      0     0     0     0     0     0
2380     0     0     0     0     0     0
184      0     0     1     0     0     0
2587     0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
2493     0     0     0     0     0     0
3388     0     0     0     0     0     0
3997     0     0     0     0     0     0
383      0     0     0     0     0     0
3364     0     0     0     0     0     0

[1263 rows x 364 columns]
(1263, 364)

In [32]:
# PCA with 95% for xtrain

pca_xtrain = PCA(n_components=0.95)
pca_xtrain.fit(xtrain)

PCA(n_components=0.95)

In [33]:
pca_xtrain_transformed = pca_xtrain.transform(xtrain)
print(pca_xtrain_transformed.shape)

(2946, 6)

In [34]:
# PCA with 95% for xtest

pca_xtest = PCA(n_components=0.95)
pca_xtest.fit(xtest)

PCA(n_components=0.95)

In [35]:
pca_xtest_transformed = pca_xtest.transform(xtest)
print(pca_xtest_transformed.shape)

(1263, 6)

In [36]:
print(pca_xtest.explained_variance_)
print(pca_xtest.explained_variance_ratio_)

[206.79524961 120.24273955  67.64680756  61.94375666  48.08214872
   8.7271811 ]
[0.38517942 0.22396563 0.12599979 0.11537722 0.08955841 0.01625536]

## Test Data

In [37]:
test_data

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,aj,h,as,f,d,aa,j,e,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,t,aa,ai,d,d,aa,j,y,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,y,v,as,f,d,aa,d,w,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,ak,v,as,a,d,aa,c,q,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,t,aa,ai,c,d,aa,g,r,0,...,1,0,0,0,0,0,0,0,0,0

In [38]:
test_object_datatypes = test_data.select_dtypes(include=[object])
test_object_datatypes

      X0  X1  X2 X3 X4  X5 X6 X8
0     az   v   n  f  d   t  a  w
1      t   b  ai  a  d   b  g  y
2     az   v  as  f  d   a  j  j
3     az   l   n  f  d   z  l  n
4      w   s  as  c  d   y  i  m
...   ..  ..  .. .. ..  .. .. ..
4204  aj   h  as  f  d  aa  j  e
4205   t  aa  ai  d  d  aa  j  y
4206   y   v  as  f  d  aa  d  w
4207  ak   v  as  a  d  aa  c  q
4208   t  aa  ai  c  d  aa  g  r

[4209 rows x 8 columns]

## Label Encoding(test data)

In [39]:
test_data['X0'] = label_encoder.fit_transform(test_data['X0'])
test_data['X1'] = label_encoder.fit_transform(test_data['X1'])
test_data['X2'] = label_encoder.fit_transform(test_data['X2'])
test_data['X3'] = label_encoder.fit_transform(test_data['X3'])
test_data['X4'] = label_encoder.fit_transform(test_data['X4'])
test_data['X5'] = label_encoder.fit_transform(test_data['X5'])
test_data['X6'] = label_encoder.fit_transform(test_data['X6'])
test_data['X8'] = label_encoder.fit_transform(test_data['X8'])

In [40]:
print(test_data)
print(test_data.shape)

        ID  X0  X1  X2  X3  X4  X5  X6  X8  X10  ...  X375  X376  X377  X378  \
0        1  21  23  34   5   3  26   0  22    0  ...     0     0     0     1
1        2  42   3   8   0   3   9   6  24    0  ...     0     0     1     0
2        3  21  23  17   5   3   0   9   9    0  ...     0     0     0     1
3        4  21  13  34   5   3  31  11  13    0  ...     0     0     0     1
4        5  45  20  17   2   3  30   8  12    0  ...     1     0     0     0
...    ...  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...   ...   ...   ...   ...
4204  8410   6   9  17   5   3   1   9   4    0  ...     0     0     0     0
4205  8411  42   1   8   3   3   1   9  24    0  ...     0     1     0     0
4206  8413  47  23  17   5   3   1   3  22    0  ...     0     0     0     0
4207  8414   7  23  17   0   3   1   2  16    0  ...     0     0     1     0
4208  8416  42   1   8   2   3   1   6  17    0  ...     1     0     0     0

      X379  X380  X382  X383  X384  X385
0        0     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     0     0     0     0
3        0     0     0     0     0     0
4        0     0     0     0     0     0
...    ...   ...   ...   ...   ...   ...
4204     0     0     0     0     0     0
4205     0     0     0     0     0     0
4206     0     0     0     0     0     0
4207     0     0     0     0     0     0
4208     0     0     0     0     0     0

[4209 rows x 377 columns]
(4209, 377)

In [41]:
# Drop the ID column as we won't require it.
test_data = test_data.drop('ID',axis=1)


# PCA with 95% for test_data(for dimensionality reduction)

pca_test_data = PCA(n_components=0.95)
pca_test_data.fit(test_data)

PCA(n_components=0.95)

In [42]:
pca_test_data_transformed = pca_test_data.transform(test_data)
print(pca_test_data_transformed.shape)

(4209, 6)

In [43]:
print(pca_test_data.explained_variance_)
print(pca_test_data.explained_variance_ratio_)

[247.07875325 100.33535335  77.48364816  62.33258307  48.95689653
   8.14203723]
[0.43515102 0.17670897 0.13646292 0.10977912 0.08622208 0.01433962]

In [44]:
y

0       130.81
1        88.53
2        76.26
3        80.62
4        78.02
         ...
4204    107.39
4205    108.77
4206    109.22
4207     87.48
4208    110.85
Name: y, Length: 4209, dtype: float64

## Import the required libraries for modelling

In [45]:
from sklearn import svm
from sklearn import model_selection
import xgboost as xgb

In [46]:
model = xgb.XGBRegressor(objective="reg:linear",learning_rate=0.1)
model.fit(pca_xtrain_transformed, ytrain) 
y_pred = model.predict(pca_test_data_transformed)
y_pred

[19:28:27] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-07593ffd91cd9da33-1\xgboost\xgboost-ci-windows\src\objective\regression_obj.cu:213: reg:linear is now deprecated in favor of reg:squarederror.

array([ 79.527405,  97.88469 ,  98.678825, ..., 108.041794, 111.803894,
        93.16432 ], dtype=float32)

## Accuracy Metrics

In [49]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
pca_xtest = PCA(n_components=0.95)
pca_xtest.fit(xtest)
pca_xtest_data_transformed = pca_xtest.transform(xtest)
print(pca_xtest_transformed.shape)
y_pred_eval=model.predict(pca_xtest_data_transformed)
y_pred_eval

(1263, 6)

array([ 95.383965,  91.38991 , 104.13517 , ...,  96.311775, 108.20564 ,
       116.673416], dtype=float32)

In [51]:
# Calculate mean squared error (MSE)
mse = mean_squared_error(ytest, y_pred_eval)
print("Mean Squared Error:", mse)

# Calculate mean absolute error (MAE)
mae = mean_absolute_error(ytest, y_pred_eval)
print("Mean Absolute Error:", mae)

# Calculate R-squared
r2 = r2_score(ytest, y_pred_eval)
print("R-squared:", r2)

Mean Squared Error: 142.8190834567778
Mean Absolute Error: 8.11413247924708
R-squared: 0.2011333645126272